<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foodtopia</title>

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Baloo|Candal|Carter+One|Righteous" rel="stylesheet">

    <!--template CSS-->
    <link href="../css/template.css" rel="stylesheet">

    <!--CSS of page-->
    <link href="css/home.css" rel="stylesheet">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<header>
    <div class="main-header">
        <h1 class="name">Foodtopia</h1>
        <button type="button" class="login">Log in</button>
        <button type="button" class="signup">Sign up </button>
    </div>

    <div class="nav">
        <ul>
            <li><button type="button" class="home"><img class="nav-icon" src="../icon/home-icon-silhouette.png"><div>Home</div></button></li>

            <li><button type="button" class="lookup"><img class="nav-icon" src="../icon/magnifier.png"><div>Lookup</div></button></li>

            <li><button type="button" class="games"><img class="nav-icon" src="../icon/gamepad-console.png"><div>Games</div></button></li>
        </ul>
    </div>
</header>

<div class="content">
    <div class="main-background">
        <div class="main">
            <h1 class="tagline">Explore fresh food ingredients daily!</h1>
            <form>
                <div class="form-group">
                    <label>Search food or food ingredient</label>
                    <input type="text" class="form-control" id="search" placeholder="Search...">
                    <button class="search-btn">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="grid-container">

        <div class="grid-item match-game">
            <button class="play-btn">Play</button>
        </div>
        <div class="grid-item first-fact">
            <h3>Did you know?</h3>
            <img src="../img/protein.png" alt="protein" class="fact-img">
            <p>Protein, which is found in meat, milk products, beans and fish, builds muscles and repairs damage.
            </p>
        </div>
        <div class="grid-item journal-ad">
            <h3>Ad for Journal</h3>
        </div>
        <div class="grid-item second-fact">
            <h3>Did you know?</h3>
            <img src="../img/fiber.png" alt="fiber" class="fact-img">
            <p>Fiber helps your body digest food. It is found in vegetables, whole grains and fruit.
            </p>
        </div>
        <div class="grid-item points-ad">
            <h3>Ad for Points</h3>
        </div>
        <div class="grid-item word-game">
            <button class="play-btn">Play</button>
        </div>
    </div>
    <button class="create-account">Create account now</button>
</div>

<footer class="footer">
    <p class='copyright'>Copyright of <span class="team-name">Rainbow Rift</span></p>
</footer>

</body>
</html>