<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foodtopia</title>

    <link href="../css/profile.css" rel="stylesheet">

    <!--template CSS-->
    <link href="css/template.css" rel="stylesheet">

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Baloo|Candal|Carter+One|Righteous" rel="stylesheet">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<header>
    <div class="main-header">
        <h1 class="name">Foodtopia</h1>
        <button type="button" class="login">Log in</button>
        <button type="button" class="signup">Sign up </button>
    </div>

    <div class="nav">
        <ul>
            <li><button type="button" class="home"><img class="nav-icon" src="icon/home-icon-silhouette.png"><div>Home</div></button></li>

            <li><button type="button" class="lookup"><img class="nav-icon" src="icon/magnifier.png"><div>Lookup</div></button></li>

            <li><button type="button" class="games"><img class="nav-icon" src="icon/gamepad-console.png"><div>Games</div></button></li>
        </ul>
    </div>
</header>

<div class="content">
    <div id="profile">
        <h3 class="username">Username</h3>
        <ul>
            <li><img src="../icon/medal.png" class="icon">Badges</li>
            <li><img src="../icon/favorite.png" class="icon">Points</li>
            <li><img src="../icon/journal.png" class="icon">Journal</li>
        </ul>
    </div>

    <div id="fact-day">
        <h4 class="fact-heading">Food fact of the day:</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit,</p>
    </div>
    <div id="journal">
        <div class="subheading">
            <h2>My Journal</h2>
        </div>

        <h3 class="empty">No journal log yet :(</h3>

    </div>
    <div id="collection">
        <div class="subheading">
            <h2>My Collection</h2>
        </div>
        <h3 class="empty">No item added yet :(</h3>
    </div>
</div>

<footer class="footer">
    <p class='copyright'>Copyright of <span class="team-name">Rainbow Rift</span></p>
</footer>

</body>
</html>