<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foodtopia</title>
    <link href="../css/template.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/wordsearch.css" />

    <!--template CSS-->
    <link href="https://fonts.googleapis.com/css?family=Baloo|Candal|Carter+One|Righteous" rel="stylesheet">

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<header>
    <div class="main-header">
        <h1 class="name">WordSearch Game</h1>
        <button type="button" class="login">Log in</button>
        <button type="button" class="signup">Sign up </button>
    </div>

    <div class="nav">
        <ul>
            <li><button type="button" class="home"><img class="nav-icon" src="../icon/home-icon-silhouette.png"><div>Home</div></button></li>

            <li><button type="button" class="lookup"><img class="nav-icon" src="../icon/magnifier.png"><div>Lookup</div></button></li>

            <li><button type="button" class="games"><img class="nav-icon" src="../icon/gamepad-console.png"><div>Games</div></button></li>
        </ul>
    </div>
</header>

<div class="content">
    <div class="wrap">
        <h1 class="logo">Word search game</h1>
        <section id="ws-area"></section>
        <ul class="ws-words"></ul>
    </div>
    <script src="../js/utility.js"></script>
    <script src="../js/wordsearch.js"></script>
    <script type="text/javascript">
        var gameAreaEl = document.getElementById('ws-area');
        var gameobj = gameAreaEl.wordSearch();

        // Put words into `.ws-words`
        var words = gameobj.settings.wordsList,
            wordsWrap = document.querySelector('.ws-words');
        for (i in words) {
            var liEl = document.createElement('li');
            liEl.setAttribute('class', 'ws-word');
            liEl.innerText = words[i];
            wordsWrap.appendChild(liEl);
        }
    </script>
    <!--put content here-->
</div>

<footer class="footer">
    <p class='copyright'>Copyright of <span class="team-name">Rainbow Rift</span></p>
</footer>

</body>
</html>