/** {box-sizing: border-box}*/
/*#banner1{*/
    /*background-image: linear-gradient(to right,orangered, yellow);*/
    /*color: white;*/
/*}*/
/*#banner2{*/
    /*background-image: linear-gradient(to right,coral, red);*/
    /*color: white;*/
/*}*/

#id01, #id02{
    font-family: 'Baloo', sans-serif;
    color: #e2714f;

}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
#submit_signup, #cancel {
    background-color: #a6ef19;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 150px;
    opacity: 0.9;

}
#submit_signup:hover, #cancel:hover{
    transform: scale(0.9);
}

#submit_signup{
    background-color: #a6ef19;
    margin: auto;
}


button:hover {
    opacity:1;
}

#my-close-btn {
    background-color: #a6ef19;
    padding: 5px;
    width: 40px;
    height: 40px;
    margin: 20px;
    border-radius: 50px;
    text-align: center;
    font-family: "Baloo", sans-serif;
    color: #fff;
    font-size: 1.2em;
}

#my-close-btn:hover {
    transform: scale(1.2);
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
}


/* Add padding to container elements */
.container {
    padding: 30px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    margin: auto;
    width: 60%; /* part width */
    height: 100%; /* Full height */
    overflow: auto;
    border-radius: 1rem;
    padding-top: 50px;
}
/* Modal Content/Box */
.modal-content {
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    z-index: 3; /* Sit on top */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: #b0f442;*/
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Close Button (x) */
#toprightx {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 5rem;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
    transform: scale(0.9);
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .banner-img{
        height: 200px;
        background-image: url("../../icon/signup-background.png");
        background-size: cover;
    }

    input[type=text], input[type=password] {
        width: 50%;
    }
}

@media (min-width: 1366px) {
    .banner-img{
        height: 250px;
    }
}