
#id01, #id02{
    font-family: 'Baloo', sans-serif;
    color: #e2714f;

}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for all buttons */
#submit_signup, #cancel {
    background-color: #a6ef19;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 150px;
    opacity: 0.9;
    color: #fff;
    border-radius: 10px;
    margin: 5px;
}

#submit_signup:hover, #cancel:hover{
    transform: scale(0.9);
}



button:hover {
    opacity:1;
}


.modal-footer {
    display: flex;
    flex-direction: column;
}

/* Add padding to container elements */
.container {
    padding: 30px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.close {
    margin: 20px;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
    transform: scale(0.9);
}

.banner-img {
    height: 10px;
}

@media (min-width: 400px) {
    .modal-footer {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .banner-img{
        height: 150px;
        background-image: url("../../icon/signup-background.png");
        background-size: cover;
    }

    input[type=text], input[type=password] {
        width: 50%;
    }
}


