<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
    <link rel="stylesheet" href="../../css/account/signup.css" >
</head>
<body>
<button class="trigger" id="signup">Sign up</button>

<!-- The Modal (contains the Sign Up form) -->
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
    <form class="modal-content" action="/action_page.php">
        <div class="container">
            <h1>Sign Up</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <label>
                <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
            </label>

            <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <a href="../home.ejs" type="submit" class="signup">Sign Up</a>
            </div>
        </div>
    </form>
</div>
<!--<div class = "modal" id = "enter_username">-->
    <!--<div class="modal-content">-->
        <!--<span class="close">&times;</span>-->
        <!--<header>-->
            <!--<h1>Join us today</h1>-->
        <!--</header>-->

        <!--<form id = "username_form" >-->
            <!--<label>Create a nickname</label>-->
            <!--<input id="username_input" type="text" name="username"  >-->
            <!--<button type="submit" class="next" id ="toPassword" >-->
                <!--<img class="nav-icon" src="../icon/move-to-next.png"></button>-->


        <!--</form>-->
    <!--</div>-->

<!--</div>-->

<!--<div class = "modal" id = "enter_password">-->
    <!--<div class="modal-content">-->
        <!--<span class="close">&times;</span>-->
        <!--<header>-->

        <!--</header>-->

        <!--<form>-->
            <!--<label>Create a password</label>-->
            <!--<input type="text" name="password">-->
            <!--<button type="button" class="next" id ="toCombination" >-->
                <!--<img class="nav-icon" src="../icon/move-to-next.png"></button>-->

        <!--</form>-->
    <!--</div>-->

<!--</div>-->

</body>
<script src="../../js/signup.js" type="text/javascript"></script>
</html>