

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Match Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../css/games/game_memory_match.css" >

    <link rel="stylesheet" href="../../css/account/signup.css" >
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Baloo|Candal|Carter+One|Righteous" rel="stylesheet">
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Coda">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Press+Start+2P" >

    <!--template CSS-->
    <link href="../../css/template.css" rel="stylesheet">

</head>
<body>

<header id = "navbar">
    <div class="main-header">
        <h1 class="name"><a href="/">Foodtopia</a></h1>

        <% if (user) { %>
        <a href="/profile"> <button type="button" id="profile-btn">My Profile</button></a>
        <a href="/logout"> <button type="button" id="logout">Log out</button></a>
        <% } else { %>
        <button type="button" id="login" data-toggle="modal" data-target="#id02">Log in</button>
        <button type="button" id="signup" data-toggle="modal" data-target="#id01">Sign up </button>

        <% } %>

    </div>

    <div class="nav">
        <ul>
            <li><a href="/" ><button type="button" class="home"><img class="nav-icon" src="../icon/home-icon-silhouette.png"><div>Home</div></button></a></li>

            <li><a href="/lookup" ><button type="button" class="lookup"><img class="nav-icon" src="../icon/magnifier.png"><div>Lookup</div></button></a></li>

            <li><a href="/games" ><button type="button" class="games"><img class="nav-icon" src="../icon/gamepad-console.png"><div>Games</div></button></a></li>
        </ul>
    </div>
</header>


<div class="content">
    <!--Code for this game(html, css, js) are modified based on Sandra Israel-Ovirih's-->
    <!--https://github.com/sandraisrael/Memory-Game-fend-->

    <div class="container">
        <header>
            <h1>Memory Game</h1>
        </header>

        <section class="score-panel">
            <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>

            <span class="moves">0</span> Move(s)

            <div class="timer">
            </div>

            <div class="restart" onclick=startGame()>
                <i class="fa fa-repeat"></i>
            </div>
        </section>

        <ul class="deck" id="card-deck">
            <li class="card" type="tomato">
                <img src="../../icon/match_game_img/tomato.png" class="pic">
            </li>
            <li class="card" type="avocado">
                <img src="../../icon/match_game_img/avocado.png" class="pic">
            </li>
            <li class="card match" type="banana">
                <img src="../../icon/match_game_img/banana.png" class="pic">
            </li>
            <li class="card" type="broccoli" >
                <img src="../../icon/match_game_img/brocolli.png" class="pic">
            </li>
            <li class="card" type="chili">
                <img src="../../icon/match_game_img/chilli.png" class="pic">
            </li>
            <li class="card match" type="corn">
                <img src="../../icon/match_game_img/corn.png" class="pic">
            </li>
            <li class="card" type="aubergine">
                <img src="../../icon/match_game_img/eggplant.png" class="pic">
            </li>
            <li class="card" type="onion">
                <img src="../../icon/match_game_img/onion.png" class="pic">
            </li>
            <li class="card" type="tomato">
                <div class="text">Tomato</div>
            </li>
            <li class="card" type="avocado">
                <div class="text">Avocado</div>
            </li>
            <li class="card match" type="banana">
                <div class="text">Banana</div>
            </li>
            <li class="card" type="broccoli" >
                <div class="text">Broccoli</div>
            </li>
            <li class="card" type="chili">
                <div class="text">Chili</div>
            </li>
            <li class="card match" type="corn">
                <div class="text">Corn</div>
            </li>
            <li class="card" type="aubergine">
                <div class="text">Aubergine</div>
            </li>
            <li class="card" type="onion">
                <div class="text">Onion</div>
            </li>


        </ul>

        <div id="popup1" class="overlay">
            <div class="popup">
                <h2>Congratulations 🎉</h2>
                <a class="close" href=# >×</a>
                <div class="content-1">
                    Congratulations you're a winner 🎉🎉
                </div>
                <div class="content-2">
                    <p>You made <span id=finalMove> </span> moves </p>
                    <p>in <span id=totalTime> </span> </p>
                    <p>Rating:  <span id=starRating></span></p>
                </div>
                <button id="play-again"onclick="playAgain()">
                    Play again 😄</a>
                </button>
            </div>
        </div>
        <div><a href="https://scotch.io/tutorials/how-to-build-a-memory-matching-game-in-javascript" id = "attribution" target="_blank">Copyright&copy; Sandra Israel-Ovirih, Modified by Rainbow Rift for Foodtopia</a></div>

    </div>
</div>

<footer class="footer">
    <p class='copyright'>Copyright&copy; 2018 of <span class="team-name">Rainbow Rift</span></p>
</footer>

<!-- Sign up Modal -->
<div class="modal fade" id="id01" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="banner-img">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="signupform" action="/profile" method="post">

                    <div class="container">
                        <h1 id = "banner1">  Join us today!</h1>
                        <div class="form-container">
                            <p id = "banner2">  Please fill in this form to create an account.</p>
                            <hr>
                            <label for="username"><b>Username   </b></label>
                            <input type="text" placeholder="Create a username" name="username" required>
                            <br>
                            <label for="password"><b>Password   </b></label>
                            <input type="password" placeholder="Your passcode" name="password" required>
                            <br>
                            <label for="passwordConf"><b>Re-enterPassword </b></label>
                            <input type="password" name="passwordConf" placeholder="Confirm Password" required="">
                            <br>

                            <div class="modal-footer">
                                <button type="button" id="cancel" data-dismiss="modal">Maybe later...</button>
                                <button type="submit" id="submit_signup" value="REGISTER">Sign Me Up ! </button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Log in Modal -->
<div class="modal fade" id="id02" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="banner-img">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form name="loginform" action="/profile" method="post">
                    <div class="container">
                        <h1 id = "banner1">  Welcome back!</h1>
                        <hr>
                        <div class="form-container">
                            <label for="username"><b>Username   </b></label>
                            <input type="text" placeholder="Your username" name="username" required>
                            <br>
                            <label for="password"><b>Password   </b></label>
                            <input type="password" placeholder="Your passcode" name="password" required>
                            <br>
                            <button type="submit" class="signup" id="submit_signup">Log me in !</button>

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script src="../../js/game/Game_memory_match.js" type="text/javascript"></script>

<!--Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>

