.title{
    font-family: 'Baloo', sans-serif;
    font-size: 3rem;
    margin: auto;
    color: #ed6875;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.nav, .content{
    background-color: #fbffd4;
}
#ad_to_create_account{
    font-family: 'Bitter', serif;
    margin: 0.5rem auto;
    color: #ed6875;

}
#icons{
    margin: 0.5rem auto;
    font-size: 2rem;
    width: 70%;}
.star{
    margin: 1rem 1rem;
}
.star:hover {

    /*  Making button bigger on hover  */
    transform: scale(1.5);
}
#games{
    background-color: #EE8A82;
    padding: 3rem 0 2rem 2rem;
    margin: 3em;
    border-radius: 3rem;
}
#game1:hover, #game2:hover{
    transform: scale(1.2);
}
.title { grid-area: title; }
#ad_to_create_account { grid-area: ad; }
#game1 { grid-area: game1; }
#game2 { grid-area: game2; }

.grid-container {
    display: grid;
    grid-template-areas:
            'title title title title'
            'ad ad ad ad'
            'game1 game1 game2 game2';
    grid-gap: 10px;
}
