.title{
    font-family: 'Baloo', sans-serif;
    font-size: 3rem;
    margin: auto;
    color: #ed6875;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.nav, .content{
    background-color: #fbffd4;
}
#ad_to_create_account{
    font-family: 'Bitter', serif;
    margin: 0.5rem auto;
    color: #ed6875;

}
#icons{
    margin: 0.5rem auto;
    font-size: 2rem;
    width: 70%;}
.star{
    margin: 1rem 1rem;
}
.star:hover {

    /*  Making button bigger on hover  */
    transform: scale(1.3);
}
#games{
    background-color: #EE8A82;
    padding: 3rem 0;
    /*margin: 3em;*/
    border-radius: 3rem;
    text-align:center;
}
#game1:hover,
#game2:hover{
    transform: scale(0.8);
}
#game1, #game2{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}


.title { grid-area: title; }
#ad_to_create_account { grid-area: ad; }
#game1 { grid-area: game1; }
#game2 { grid-area: game2; }

.grid-container {
    display: grid;
    grid-template-areas:
            'title title '
            'ad ad'
            'game1 game2 ';
    grid-gap: 10px;
}
@media only screen and (max-width: 768px) {

    .grid-container {
        display: grid;
        grid-template-areas:
                'title'
                'ad '
                'game1'
                'game2 ';
        grid-gap: 10px;
    }
    #game1, #game2 {
        padding:0;
        margin: 0;
        transform: scale(0.6);
    }
    #game1:hover,
    #game2:hover{
        transform: scale(0.6);
    }
    #games{
        flex-direction: row;
        padding:0;
        margin: 0;
        width: 70%;
    }

    #ad_to_create_account{
        width: 70%;
        text-align: center;

        font-size: 0.8rem;

    }
    .title{
        width: 60%;
        text-align: center;
        font-size: 1.3 rem;
    }

    #icons{
        margin: 0;
        font-size: 0.8rem;
        width: 70%;}
    .star{
        margin:0;
    }
    .star:hover {

        /*  Making button bigger on hover  */
        transform: scale(1);
    }

}
@media only screen and (min-width: 768px) {

    .grid-container {
        display: grid;
        grid-template-areas:
                'title'
                'ad '
                'game1'
                'game2 ';
        grid-gap: 10px;
    }



}