
.content {
    background-color: #ff8351;
    width: 100%;
}

.main-background {
    background-color: #fff;
}

.main {
    background-image: url("../img/mobile-background.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 70%;
    padding: 1em;
    margin: auto;
    margin-top: -1px;
    margin-bottom: 2em;
    font-family: "Baloo", sans-serif;
}

.main form {
    width: 100%;
    margin: 90px auto;
    text-align: center;
    font-size: 1em;
}

.main input {
     border-radius: 15px;
 }

.tagline {
    width: 100%;
    text-align: center;
    color: #3a3a3a;
    font-size: 1.5em;
    margin: auto;
    margin-top: 10px;
}

.search-btn {
    border: none;
    border-radius: 17px;
    background-color: #a6ef19;
    padding: 5px 20px;
    color: #fff;
    margin-top: 15px;
}

.grid-item {
    border-radius: 15px;
    background-color: white;
    border: 4px solid #fff;
    padding: 10px;
    font-weight: normal;
}

.match-game {
    grid-area: game-1;
    height: 200px;
    background-image: url("../img/match_game.png");
    background-color: #606060;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.fact-img {
    display: block;
    float: left;
    width: 100px;
    margin: 5px 10px;
}

.first-fact {
    grid-area: fact-1;
    background-color: #afef2f;
}

.journal-ad {
    grid-area: ad-1;
    background-color: #3ee1bf;
}

.second-fact {
    grid-area: fact-2;
    padding: 10px;
    background-color: #afef2f;
}

.points-ad {
    grid-area: ad-2;
    background-color: #3ee1bf;
}

.word-game {
    grid-area: game-2;
    height: 200px;
    background-image: url("../img/wordsearch.png");
    background-color: #feee77;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
            "game-1 game-1"
            "fact-1 ad-1"
            "ad-2 fact-2"
            "game-2 game-2";
    grid-gap: 2em;
    margin: 20px 50px;
}
.grid-container h3 {
    font-family: "Baloo", sans-serif;
    color: #bb285c;
    text-align: center;
}

.journal-ad h3,
.points-ad h3 {
    color: #fff;
}

.play-btn {
    margin: auto;
    margin-top: 120px;
    display: block;
    border: none;
    background-color: #a6ef19;
    border-radius: 10px;
    padding: 5px 15px;
    font-family: "Baloo", sans-serif;
    color: #fff;
}

.play-btn:hover {
    transform: scale(1.1);
    background-color: #fff;
    color: #a6ef19;
    border: 5px solid #a6ef19;
}

.create-account {
    display: block;
    border: 3px solid #fff;
    border-radius: 20px;
    background-color: #3ee1bf;
    font-family: "Baloo", sans-serif;
    color: #fff;
    padding: 5px 15px;
    margin: auto;
    margin-bottom: 2em;
}

@media (min-width: 768px) {
    .main {
        background-image: url("../img/fruit-veggies.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .main form {
        width: 40%;
        margin: 150px auto;
        font-size: 1.2em;
    }

    .grid-container {
        grid-template-columns: 3fr 1fr 3fr;
        grid-template-areas:
                "game-1 game-1 fact-1"
                "ad-2 game-2 game-2"
                "fact-2 fact-2 ad-1";
    }

    .match-game,
    .word-game {
        height: 300px;
    }

    .fact-img {
        float: none;
        margin: auto;
        width: 150px;
     }

    .grid-item {
        font-size: 1.2em;
    }

    .grid-item p {
        margin: 10px;
    }

    .play-btn {
        margin-top: 180px;
        padding: 10px 20px;
    }

    .create-account {
        font-size: 1.2em;
        padding: 10px 30px;
    }
}

@media (min-width: 1500px) {
    .match-game,
    .word-game {
        height: 400px;
    }
    .grid-container {
        grid-template-columns: 3fr 2fr 2fr 2fr 3fr;
        grid-template-areas:
                "game-1 game-1 ad-1 fact-1 fact-1"
                "fact-2 ad-2 ad-2 game-2 game-2";
        margin: 80px;
    }
    .fact-img {

        width: 200px;
    }

    .grid-item {
        font-size: 1.5em;
    }

    .play-btn {
        margin-top: 220px;
        padding: 15px 20px;
    }

    .create-account {
        font-size: 1.2em;
        padding: 15px 35px;
    }

}