.nav, .content{
    background-color: #fbffd4;
}
.searchbox {
    margin-top: 50px;
    font-family: "Baloo", sans-serif;
    text-align: center  ;
    height: 250px;
}
.searchbox input, button {
    border: none;
    outline: none;
}

.searchbutton {
    display: block;
    border: none;
    border-radius: 17px;
    background-color: #a6ef19;
    padding: 5px 20px;
    color: #fff;
    margin: 15px auto;

}
.searchtext {
    font-size: 1.5em;
    color: #ff5d55;
}
.searchbox {
    font-family: "Baloo", sans-serif;
    text-align: center  ;
}

.searchbox form {
    align-items: center;
    height: 42px;
}

.searchbox input {
    height: 42px;
    padding-left: 13px;
    width: 250px;
    border-radius: 42px;
    border:  4px groove #ff5d55;
    background: #F9F0DA;
    transition: .3s linear;

}

.searchbox input:focus {
    width: 300px;
}

.information{
    display: grid;
    height: 950px;
    background: #ff8351;
    grid-template-columns: [cs-1] 20% [cs-2] 60% [cs-3] 20% [ce-3];
}


.wrapper{
    grid-column: cs-2/cs-3;
    grid-row: auto;
    position: absolute;
    margin-top: 5%;
    left: 25%   ;
    height:100%;
    width: 55%;
    background: white;
}

.wrapper {
    border: 2px solid #CCC;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;

}

.box {
    text-align: center;
    color: #444;
    border-radius: 5px;
    padding: 20px;
    font-size: 80%;
}

.item1 {
    font-family: 'Baloo', cursive;
    font-size: 150%;
    grid-column: 1/7;
    grid-row: 1/2;
}

.item2 {
    grid-column: 1/4;
    grid-row: 2 / 4;
}

.item3 {
    font-family: 'Baloo', cursive;
    font-size: 120%;
    background-color: #88fbe3;
    grid-column: 4/ 7;
    grid-row: 2/4;
}
.item4 {
    font-family: 'Baloo', cursive;
    text-align: left;
    background-color:#ffee6c;
    grid-column: 1/4;
    grid-row: 4/7;
}
.item5 {
    font-family: 'Baloo', cursive;
    font-size: 120%;
    background-color:#ffee6c;
    grid-column: 4/7;
    grid-row: 4/7;
}

.item6 {

    font-family: 'Baloo', cursive;
    background-color: #cdf576;
    grid-column: 1/4;
    grid-row: 7/8;
}
.item7 {
    font-family: 'Baloo', cursive;
    background-color: #ff807a;
    grid-column: 4/7;
    grid-row: 7/8;
}
.item8 {
    text-align: -webkit-right;

    font-family: 'Baloo', cursive;
    font-size: 130%;
    grid-column: 1/7;
    grid-row:8/9;
}
.item9 {
    margin-top: 15%;
    grid-column: 6/7;
    grid-row:8/9;
}

.item2 img{
    position: relative;
    left: 5%;
    top: 5%;
    height: 100%;
    width: 100%;
}
.add-collection {
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #fff;
    border: none;
    background-color: #a6ef19;
    margin: 10px;
    text-align: center;
    font-size: 1.5em;
}

.add-collection:hover {
    transform: scale(1.2);
}