.content{

}
.searchbox {
    margin-top: 50px;
    font-family: "Baloo", sans-serif;
    text-align: center  ;
    height: 250px;
}
.searchbox input, button {
    border: none;
    outline: none;
}

.search-btn {
    display: block;
    border: none;
    border-radius: 17px;
    background-color: #a6ef19;
    padding: 5px 20px;
    color: #fff;
    margin: 15px auto;
}
.searchbox {
    font-family: "Baloo", sans-serif;
    text-align: center  ;
}

.searchbox form {
    align-items: center;
    height: 42px;
}


.searchtext {
    font-size: 1.5em;
    color: #ff5d55;
}

.searchbox input {
    height: 42px;
    padding-left: 13px;
    width: 250px;
    border-radius: 42px;
    border: none;
    background: #F9F0DA;
    transition: .3s linear;

}

.searchbox input:focus {
    width: 300px;
}

.result{
    position: center;
    align-items: center;
    height: 80%;
    background: #ff8351;
}
.box{
    font-family: 'Baloo', cursive;
    position: relative;
    top: 5%;
    left: 10%;
    width: 80%;
}
.box{
    display:grid;
    grid-template-rows: auto;
    grid-column-gap: 5px;
    grid-row-gap: 10px;

}
.food{
    position: relative;
    top: 10%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10%;
    background: white;
}

.food{
    display: grid;
    grid-gap: 10px;
    grid-template-columns:[c1-s] auto [c2-s] auto [c2-e];
    grid-template-rows: [r1-s] auto [r2-s] auto [r3-s] auto
    [r4-s] auto [r4-e];
}

.label{
    position: relative;
    top: 5%;
    left: 5%;
    text-align: center;
    grid-column: c1-s/c2-s;
    grid-row: r1-s/r2-s;
}

.img{
    grid-column: c1-s/c2-s;
    grid-row: r2-s/r4-e;
}

.Hightlight{
    color: #ffe517;
    text-align: center;
    grid-column: c2-s;
    grid-row: r2-s/r4-s;
}

.readmore{
    text-align: center;
    grid-column: c2-s;
    grid-row: r4-s;
}

.img img{
    position: relative;
    left: 30%;
    width: 90px;
    height: 90px;
}

.readmore button{
    border-radius: 20%;
    background: #a6ef19;
}

.page {
    position: relative;
    top: 10%;
    padding-right: 7px;
    padding-left: 7px;
    font-weight: bold;
    font-size: 13.2pt;
    padding-bottom: 7px;
    margin: 3px;
    padding-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center
}
.page a {
    border-right: #d9d300 2px solid;
    padding-right: 5px;
    border-top: #d9d300 2px solid;
    padding-left: 5px;
    padding-bottom: 2px;
    margin: 2px;
    border-left: #d9d300 2px solid;
    color: #fff;
    padding-top: 2px;
    border-bottom: #d9d300 2px solid;
    background-color: #d90;
    TEXT-DECORATION: none
}
.page a:hover {
    border-right: #ff0 2px solid;
    border-top: #ff0 2px solid;
    border-left: #ff0 2px solid;
    color: #000;
    border-bottom: #ff0 2px solid;
    background-color: #ff0
}
.page a:active {
    border-right: #ff0 2px solid;
    border-top: #ff0 2px solid;
    border-left: #ff0 2px solid;
    color: #000;
    border-bottom: #ff0 2px solid;
    background-color: #ff0
}
.page span.current {
    border-right: #fff 2px solid;
    padding-right: 5px;
    border-top: #fff 2px solid;
    padding-left: 5px;
    font-weight: bold;
    padding-bottom: 2px;
    margin: 2px;
    border-left: #fff 2px solid;
    color: #000;
    padding-top: 2px;
    border-bottom: #fff 2px solid
}
.page span.disabled {
    display: none
}

@media (min-width: 768px) {
    .box{
        margin-top: 3%;
        display:grid;
        grid-template-columns: 1fr 300px 300px 1fr;
        grid-template-rows: auto;
        grid-column-gap: 5px;
        grid-row-gap: 10px;
    }
    .one{
        grid-column: 2/3;
    }
    .two {
        grid-column: 3/4;
    }
    .three{
        grid-column: 2/3;
    }
    .four{
        grid-column: 3/4;
    }
    .five{
        grid-column: 2/3;
    }
    .six{
        grid-column:3/4;;
    }
}

