
html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

a,
a:hover,
a:active,
a:link,
a.visited {
    text-decoration: none;
    color: inherit;
}

#navbar {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}
.main-header {
    display: flex;
    justify-content: space-around;
    background-color: #a6ef19;
    padding: 25px;
}

.name {
    margin-right: auto;
    font-family: 'Carter One', cursive;
    color: #fff;
    font-size: 1.85em;
}

#login:hover,
#signup:hover{
    transform: scale(1.2);
}


#login,
#signup {
    border-radius: 5px;
    border: none;
    background-color: #cdf576;
    font-family: 'Baloo', cursive;
    color: #fff;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
    font-size: 0.9em;
    padding: 5px;
}

.nav {
    height: 50px;
}

ul {
    display: flex;
    text-align: center;
    list-style: none;
    margin: auto;
    color: #000;
    padding: 0;
}

.home:hover,
.lookup:hover,
.games:hover{
    transform: scale(0.9);
}

.home,
.lookup,
.games {
    display:block;
    font-family: 'Baloo', cursive;
    width: 80px;
    margin-top: -25px;
    border-radius: 15px;
    border: 2px solid #fff;
    transform: scale(0.8);
    padding: 4px;
}


.home {
    background-color: #ffa834;
}

.lookup {
    background-color: #ffe517;
}

.games {
    background-color: #fb6159;
}


.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    background-color: #a6ef19;
    padding: 20px 20px;
}

.copyright {
    color: #fff;
    text-align: right;
    margin: 0;
    font-size: 0.9em;
}

.team-name {
    font-family: 'Righteous', cursive;
}

.team-name:hover {
    background-image: linear-gradient(to right,red,
    orange , yellow, green);
    
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {
    border: none;
}

button:hover {
    transform: scale(1.1);
}

/* ====================
    Media Queries
   ====================*/
@media (min-width: 600px) {
    #login,
    #signup {
        padding: 5px 10px;
    }
    
    .home,
    .lookup,
    .games {
        width: 100px;
        margin-top: -35px;
        border-radius: 15px;
        border: 4px solid #fff;
        padding: 6px;
        font-size: 1em;
    }
}


@media (min-width: 768px) {
    
    .main-header {
        display: flex;
        justify-content: space-around;
        background-color: #a6ef19;
        padding: 25px;
    }

    .name {
        font-size: 2em;

    }
     
    
    #login,
    #signup {
        border-radius: 5px;
        border: none;
        margin: auto 10px;
        padding: 6.5px 20px;
    }

    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin: auto;
        color: #000;
    }

    .home,
    .lookup,
    .games {
        width: 150px;
        margin-top: -35px;
        border-radius: 15px;
        border: 4px solid #fff;
        padding: 8px;
        font-size: 1.2em;
    }
    
    .copyright {
        font-size: 1.5em;
    }

}

@media (min-width: 1024px) {
    .nav {
        font-size: 1.2em;
    }

    #login,
    #signup {
        font-size: 1.3em;
        padding: 12px;
    }

    .main-header {
        height: 120px;
    }

    .name {
        margin-top: 10px;
        margin-left: 15px;
        font-size: 2.5em;
    }

    .footer {
        height: 100px;
        padding: 30px
    }
}

@media (min-width: 1400px) {
    .home,
    .lookup,
    .games {
        width: 180px;
        margin-top: -55px;
        border-radius: 15px;
        border: 4px solid #fff;
        padding: 8px;
        font-size: 1.5em;
    }
}