.nav, .content{
    background-color: #fbffd4;
}
.searchbox {
    margin-top: 60px;
    font-family: "Baloo", sans-serif;
    text-align: center  ;
}
.searchbox input, button {
    border: none;
    outline: none;
}

.searchbutton {
    display: block;
    border: none;
    border-radius: 17px;
    background-color: #a6ef19;
    padding: 5px 20px;
    color: #fff;
    margin: 15px auto;

}
.searchtext {
    font-size: 1.5em;
    color: #ff5d55;
}
.searchbox {
    font-family: "Baloo", sans-serif;
    text-align: center  ;
    height: 300px;
}

.searchbox form {
    align-items: center;
    height: 42px;
}

.searchbox input {
    height: 42px;
    padding-left: 13px;
    width: 250px;
    border-radius: 42px;
    border:  4px groove #ff5d55;
    background: #F9F0DA;
    transition: .3s linear;

}

.searchbox input:focus {
    width: 300px;
}

.information{

    background: #ff8351;
    padding: 20px;
    /*grid-template-columns: [cs-1] 20% [cs-2] 60% [cs-3] 20% [ce-3];*/
}

.food-name {
    grid-area: name;
    text-align: center;
}

.general-info {
    grid-area: general;
    background-color: #88fbe3;
    border: 5px solid #3ee1bf;
}

.fact {
    grid-area: fact;
    background-color: #ffee6c;
    border: 5px solid #ffe517;
}

.nutrition-fact {
    grid-area: nutrition;
    background-color: #ffee6c;
    border: 5px solid #ffe517;
}

.pros {
    grid-area: pros;
    background-color: #cdf576;
    border: 5px solid #a6ef19;
}

.cons {
    grid-area: cons;
    background-color: #ff807a;
    border: 5px solid #ff5d55;
}

.box {
    text-align: center;
    color: #444;
    border-radius: 5px;
    padding: 20px;
    font-family: "Baloo", sans-serif;
    font-size: 1.1em;
    margin: 10px 20px;
}


.wrapper{
    font-family: "Baloo", sans-serif;
    background-color: white;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 25px;
}

.food-img{
    grid-area: img;
    display: block;
    width: 250px;
    margin: auto;
}

.add-collection {
    display: inline;
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #fff;
    border: none;
    background-color: #a6ef19;
    margin: 10px;
    text-align: center;
    font-size: 1.5em;
}

.add-collection:hover {
    transform: scale(1.2);
}

@media (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr 1fr;
        grid-template-areas:
            "name name name name"
            "img general general general"
            "fact fact fact nutrition"
            "pros pros cons cons";
    }
}