.nav, .content{
    background-color: #fbffd4;
}

.title:first-letter {
    text-transform: uppercase;
}
.category:first-letter{
    text-transform: uppercase;
}
li:first-letter{
    text-transform: uppercase;
}
.information{

    background: #ff8351;
    padding: 20px;
}

.food-name {
    grid-area: name;
    text-align: center;
}

.general-info {
    grid-area: general;
    background-color: #88fbe3;
    border: 5px solid #3ee1bf;
}

.fact {
    grid-area: fact;
    background-color: #ffee6c;
    border: 5px solid #ffe517;

}
li {
    text-align: left;
}

#kinds-ul,
#facts-ul {
    display: block;
    list-style: square;
}

.nutrition-fact {
    grid-area: nutrition;
    background-color: #ffee6c;
    border: 5px solid #ffe517;
}

.recipes {
    grid-area: recipes;
    background-color: #cdf576;
    border: 5px solid #a6ef19;
}


.box {
    border-radius: 5px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1em;
    margin: 10px 20px;
}

.fact h2 {
    background: #fff6a8;
    padding: 10px;
}

.recipes h2{
    background: #daff8c;
    padding: 10px;
}

.wrapper{
    font-family: "Baloo", sans-serif;
    background-color: white;
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 25px;
    border: 20px solid #fc9e79;
}

.food-img{
    grid-area: img;
    display: block;
    width: 280px;
    margin: auto;
}

.recipes h2{
    grid-area: head;
    max-width: 790px;
}

.recipe {
    text-align: center;
    font-size: 0.9em;
}

.recipe div {
    min-height: 180px;
    min-width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.recipe div a{
    display: block;
    min-width: 200px;
    min-height: 180px;
}


.one{
    grid-area: recipe1;
}
.two{
    grid-area: recipe2;
}
.three{
    grid-area: recipe3;
}

#add-collection {
    display: inline;
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #fff;
    border: none;
    background-color: #a6ef19;
    margin: 10px;
    text-align: center;
    font-size: 1.5em;
}

.add-collection:hover {
    transform: scale(1.2);
}

@media (max-width: 384px) {
    .recipes, .food-img {
        display: none;
    }
}

@media (min-width: 768px) {
    .box {
        padding: 30px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr 1fr;
        grid-template-areas:
            "name name name name"
            "img general general general"
            "fact fact fact fact"
            "recipes recipes recipes recipes";
        padding: 30px;
    }

    .recipe div a{
        min-width: 200px;
        min-height: 180px;
    }

    .recipe div {
        min-height: 180px;
        min-width: 250px;
    }

}

@media (min-width: 1024px) {
    .recipes {
        display: grid;
        grid-template-areas:
                "head head head"
                "recipe1 recipe2 recipe3";
        grid-gap: 10px;
    }
}