.content{
    width: 100%;
}

.nav, .content{
    background-color: #fbffd4;
}

#search {
    grid-area: search;
}

.display{
    grid-area: category;
    background: #ff5d55;
    font-family: 'Baloo', cursive;
}

.category-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-area: category;
    border-radius: 20px;
    background: white;
    margin: 10px 20px;
    padding: 20px;
    max-height: 450px;
    min-width: 350px;
}

.ingredients {
    padding: 20px;
    min-width: 350px;
    background: #ff857f;
    border-radius: 20px;
}


.category-container p{
    flex: auto;
    text-align: center;

}

.category{
    border: 1px solid #fff;
    font-family: 'Baloo', cursive;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin: 3px;
    padding: 10px;
    color: #fff;
}

.odd {
    background-color: #3ee1bf;
}

.even {
    background-color: #88fbe3;
}



@media (min-width: 768px) {

    .category-container {
        grid-area: category;
        margin: 0;
    }

    .ingredients {
        grid-area: ingredients;
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
    }

    .display {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "category ingredients" ;
        grid-gap: 20px;
        padding: 20px;
        min-height: 450px;
    }

    .category-container p {
        font-size: 1em;
        max-height: 200px;
    }

}

@media (min-width: 1024px) {
    .display{
        padding: 50px;
    }

    .category-container p {
        max-height: 40px;
    }

    .category-container{
        padding: 20px;
    }



}


