.content{
    width: 100%;
}
.nav, .content{
    background-color: #fbffd4;
}


.display{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "category" "alphabet";
    background: #ff5d55;
}

.category-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-area: category;
    border-radius: 20px;
    background: white;
    margin: 10px 20px;
    padding: 20px;
    max-height: 350px;
}

.alphabet {
    grid-area: alphabet;
    border-radius: 20px;
    background: white;
    margin: 10px 20px;
    padding: 20px;
    max-height: 350px;
}

.category-container p{
    flex: auto;
    font-family: 'Baloo', cursive;
    text-align: center;

}
.alphabet p{
    flex: auto;
    font-family: 'Baloo', cursive;
    text-align: center;
}

.category{
    border: 1px solid #fff;
    font-family: 'Baloo', cursive;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    padding: 10px;
    color: #fff;
}

.odd {
    background-color: #3ee1bf;
}

.even {
    background-color: #88fbe3;
}


.alphalist {
    height: 400px;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-gap:1px;
}

.alphalist button {
    font-family: 'Baloo', cursive;
    width: 50px;
    height: 100%;
    background-color: #ffe517;
    color: #e93578;
}

@media (min-width: 768px) {

    .display {
        padding: 30px;
    }

    .category-container p {
        margin: 0 auto;
        font-size: 1.5em;
    }

    .alphabet p {
        margin: 0 auto;
        font-size: 1.5em;
    }

}

@media (min-width: 1024px) {
    .display{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "category alphabet";
        grid-gap: 40px;
        padding: 50px;
    }

    .category-container p {
        max-height: 40px;
    }

    .category-container,
    .alphabet {
        padding: 20px;
    }

    .alphalist button {
        width: 60px;
    }

}


