.nav, .content{
    background-color: #fbffd4;
}

.title {
    display: block;
    margin: 15px auto;
    text-align: center;
    padding: 10px;
    font-family: "Baloo", sans-serif;
    color: #fff;
    background: #fc9e79;
    border-radius: 10px;
}

.title:first-letter {
    text-transform: uppercase;
}

.result {
    align-items: center;
    padding: 20px;
    background: #ff8351;
}

.box{
    font-family: "Baloo", sans-serif;
}



@media (min-width: 768px) {
    .result {
        padding: 50px 100px;
    }

    .box{
        margin-top: 10px;
        display:grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

}

@media (min-width: 1024px) {
    .result {
        padding: 50px 220px;
    }
}



