/* Wordsearch */
/* CSS reset */
.nav, .content{
    background-color: #fbffd4;
}
h2{
    font-family: 'Baloo', cursive;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
/* Common */

.fix {
    *zoom: 1;
}

.fix:after {
    display: table;
    clear: both;
    content: '';
}

/* Home */

.wrap {
    background: #ffc957;
    width: 600px;
    height: 500px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    position:relative;
}

.logo, #gameArea {
    margin-bottom: 40px;
}

.ws-area{
    display: inline-block;
    vertical-align: top;
}

.ws-words ::first-letter{
    text-transform : capitalize;
}

.image{
    margin-top: 5px;
    display: grid;
    grid-template-areas:
    "a b"
    "c d"
    "e f"
}
.images{
    margin-left: 5%;
    margin-right: 5px;
    margin-bottom: 10px;
    height: 95px;
    width: 95px;
}

.ws-area {
    margin-left: 10%;
    float: left;
    background:#fff1d7;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.ws-row {
    line-height: 0;
}

.ws-col {
    cursor: pointer;
}

.ws-col.ws-selected {
    background: #eee;
}

.ws-found {
    background: yellow;
}

.ws-game-over-outer {
    background: rgba(0, 0, 0, 0.85);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.ws-game-over-inner {
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    display:table;
}

.ws-game-over {
    display:table-cell;
    vertical-align:middle;
}

.ws-game-over h2 {
    color:#FFFFFF;
    font-size:2em;
    text-transform:uppercase;
    padding:0;
    margin:0 0 9px 0;
}

.ws-game-over p {
    color:#FFFFFF;
    font-size:1em;
    padding:0;
    margin:0;
}